{% load static account_groups %}<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Beauty Service</title>
    <!-- TODO: favicons -->
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}
    <!-- TODO: og:tags -->
</head>
<body>
    <nav id="main-nav">
        {% if not request.user.is_authenticated %}
            <ul>
                <li>
                    <a href="{% url 'user:registration-by-phone' %}">Registration by phone</a>
                </li>
                <li>
                    <a href="{% url 'user:login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'user:reset-password' %}">Password Reset</a>
                </li>
            </ul>
        {% endif %}

        {% if request.user.is_authenticated %}
            <ul>
                <li>
                    <a href="{% url 'homepage' %}">Homepage</a>
                </li>
                <li>
                    Hello, {% if request.user.first_name %}{{ request.user.first_name }}{% else %}{{ request.user }}{% endif %}
                </li>
            </ul>

            <ul>
                <li>
                    <a href="{% url 'user:profile' %}">Профиль</a>
                </li>
                <li>
                    <a href="{% url 'user:change-password' %}">Change password</a>
                </li>

                {# <!-- Client nav --> #}
                {% if request.user|has_group:"Client" %}
                    <li>
                        <a href="{% url 'user:client-appointments' %}">Записи</a>
                    </li>
                    <li>
                        <a href="">Бонусы</a>
                    </li>
                {% endif %}

                {# <!-- Salon nav --> #}
                {% if request.user|has_group:"Salon" %}
                    <li>
                        <a href="{% url 'user:salon-appointments' %}">Журнал записи</a>
                    </li>
                    <li>
                        <a href="">Клиенты</a>
                        <ul>
                            <li>
                                <a href="{% url 'user:salon-add-client' %}">Добавить Клиента</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Сотрудники</a>
                    </li>
                    <li>
                        <a href="">Акции и бонусы</a>
                        <ul>
                            <li>
                                <a href="{% url 'user:salon-add-action' %}">Добавить Акцию</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            Аналитика<br>
                            <small>(доступна по паролю)</small>
                        </a>
                    </li>
                {% endif %}

                <li>
                    <a href="{% url 'user:logout' %}">Выход</a>
                </li>
            </ul>
        {% endif %}
    </nav>

    <header id="header"></header>

    {% block content_top %}{% endblock %}

    <main id="main">
        {% if page_title %}
            <h1>{{ page_title }}</h1>
        {% endif %}
        {% block content %}{% endblock %}
    </main>

    {% block content_bottom %}{% endblock %}

    <footer id="footer">
        <div class="container">
            &copy; Copyrights {% now 'Y' %}
        </div>
    </footer>

    {% block js %}
        <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock %}
</body>
</html>