{% load static %}<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Beauty Service</title>
    <!-- TODO: favicons -->
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}
    <!-- TODO: og:tags -->
</head>
<body>
    <nav id="main-nav">
        <ul>
            {% if not request.user.is_authenticated %}
                <!-- <li>
                    <a href="{% url 'user:registration' %}">Registration</a>
                </li> -->
                <li>
                    <a href="{% url 'user:registration-by-phone' %}">Registration by phone</a>
                </li>
                <li>
                    <a href="{% url 'user:login' %}">Login</a>
                </li>
                <!-- <li>
                    <a href="">Sign Up</a>
                </li> -->
                <!-- <li>
                    <a href="">Sign In</a>
                </li> -->
                <!-- <li>
                    <a href="">Password Reset</a>
                </li> -->
            {% endif %}
        </ul>

        {% if request.user.is_authenticated %}
            <ul>
                <li>
                    <!-- Hello, {{ request.user }} -->
                    Hello, {{ request.user.first_name }}
                </li>
                <li>
                    <a href="{% url 'homepage' %}">Homepage</a>
                </li>
                <li>
                    <a href="{% url 'user:profile' %}">User Profile</a>
                </li>
                <!-- <li>
                    <a href="">Change password</a>
                </li> -->
                <li>
                    <a href="{% url 'user:logout' %}">Exit</a>
                </li>
            </ul>
        {% endif %}
    </nav>

    <header id="header"></header>

    {% block content_top %}{% endblock %}

    <main id="main">
        {% if page_title %}
            <h1>{{ page_title }}</h1>
        {% endif %}
        {% block content %}{% endblock %}
    </main>

    {% block content_bottom %}{% endblock %}

    <footer id="footer">
        <div class="container">
            &copy; Copyrights {% now 'Y' %}
        </div>
    </footer>

    {% block js %}
        <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock %}
</body>
</html>