<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Homepage</title>

    <link rel="apple-touch-icon" sizes="57x57" href="../images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicons/favicon-16x16.png">
    <link rel="manifest" href="../images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header id="header">
        <div id="header__top">
            <div class="container">
                <div id="header__top--inner">
                    <div id="logo">
                        <a id="logo__link" href="/">Beutysputnik</a>
                    </div>

                    <div id="select_city">
                        <span class="icon icon-geomark"></span> Ваш регион: <a href="">Москва</a> <span class="icon icon-arrow-down"></span>
                    </div>

                    <div id="user_zone">
                        <a href="#" class="btn-solid mr-lg-3">Войти</a>
                        <a href="#" class="btn-transparent">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="header__banner">
            <img src="../images/tmp/header-banner.jpg" alt="">
        </div>
    </header>

    <div id="content">
        <main id="main">
            <!-- <div class="container">
                <div id="page-h1">
                    <h1>Page h1 title</h1>
                </div>
            </div> -->

            <div id="section-search" class="section-type-one">
                <div class="section-type-one__title container">
                    <div class="h2">Что будем искать?</div>
                </div>

                <div class="section-type-one__inner container">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ab dicta cumque similique aspernatur veniam fugit iure odit. Reiciendis praesentium itaque eaque provident culpa laboriosam placeat blanditiis eos alias quia, odio nihil. Autem modi qui commodi ipsam ex ducimus distinctio neque eius sequi numquam veniam consequuntur temporibus dolores, culpa aliquam. Ut veritatis quaerat eveniet odio tempora voluptatibus facilis, reiciendis provident fugiat similique a eligendi dolore magni nihil unde beatae itaque.</p>

                    <form id="search-form" class="mt-3">
                        <nav id="search-form__services-nav" class="mb-3">
                            <a class="active" href="">Ногтевой сервис</a>
                            <a href="">Парикмахерский зал</a>
                            <a href="">Удаление волос</a>
                            <a href="">Брови и ресницы</a>
                            <a href="">Барбершоп</a>
                        </nav>

                        <div id="search-form__tiles">
                            <div class="search-tiles-group">
                                <div class="search-tile st-1">
                                    <label for="">Местоположение или салон</label>
                                    <input type="text" name="" id="">
                                </div>
                                <div class="search-tile st-2">
                                    <label for="">Дата визита</label>
                                    <input type="text" name="" id="">
                                </div>
                                <div class="search-tile st-3">
                                    <label for="">Время начала</label>
                                    <input type="text" name="" id="">
                                </div>

                                <div class="search-tile st-4"></div>
                                <div class="search-tile st-5"></div>

                                <div class="search-tile st-4"></div>
                                <div class="search-tile st-5"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <footer id="footer">
        footer
    </footer>
</body>
</html>