<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Homepage</title>

    <link rel="apple-touch-icon" sizes="57x57" href="../images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicons/favicon-16x16.png">
    <link rel="manifest" href="../images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header id="header">
        <div id="header__top">
            <div class="container">
                <div id="header__top--inner">
                    <div id="logo">
                        <a id="logo__link" href="/">Beutysputnik</a>
                    </div>

                    <div id="select_city">
                        <span class="icon icon-geomark"></span> Ваш регион: <a href="">Москва <span class="icon icon-arrow-down"></span></a>
                    </div>

                    <div id="user_zone">
                        <a href="#" class="btn-solid mr-lg-3">Войти</a>
                        <a href="#" class="btn-transparent">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="header__banner">
            <img src="../images/tmp/header-banner.jpg" alt="">
        </div>
    </header>

    <div id="content">
        <main id="main">
            main
            <div class="container">
                <div id="page-h1">
                    <h1>Page h1 title</h1>
                </div>
            </div>
        </main>
    </div>

    <footer id="footer">
        footer
    </footer>
</body>
</html>