{% extends 'base.html' %}

{% load account_groups %}


{% block content %}
    {% if request.user|has_group:"Client" %}
        <!-- Client nav -->
        <ul>
            <li>
                <a href="">Профиль</a>
            </li>
            <li>
                <a href="">Записи</a>
            </li>
            <li>
                <a href="">Бонусы</a>
            </li>
            <li>
                <a href="">Выход</a>
            </li>
        </ul>
    {% endif %}

    {% if request.user|has_group:"Salon" %}
        <!-- Salon nav -->
        <ul>
            <li>
                <a href="">Профиль</a>
            </li>
            <li>
                <a href="">Журнал записи</a>
            </li>
            <li>
                <a href="">Клиенты</a>
            </li>
            <li>
                <a href="">Сотрудники</a>
            </li>
            <li>
                <a href="">Акции и бонусы</a>
            </li>
            <li>
                <a href="">
                    Аналитика<br>
                    <small>(доступна по паролю)</small>
                </a>
            </li>
            <li>
                <a href="">Выход</a>
            </li>
        </ul>
    {% endif %}

    <hr>

    <h1>Hi, {{ request.user.first_name }}</h1>
    <h2>User Group{% if request.user.groups.all.count > 1 %}s{% endif %}: {{ request.user.groups.all|join:", " }}</h2>

    <p>Login: {{ request.user }}</p>

    <p>Имя: {{ request.user.first_name }}</p>
    <p>Город: {{ request.user.city }}</p>
    <p>Дата рождения: {{ request.user.birth_date }}</p>

    <p>Телефон: {{ request.user.phone }}</p>
    <p>Email: {{ request.user.email }}</p>

    <hr>

    {% if request.user|has_group:"Client" %}
        <p style="color: green;">User belongs to Client</p>
    {% else %}
        <p style="color: grey;">User doesn't belong to Client</p>
    {% endif %}


    {% if request.user|has_group:"Salon" %}
        <p style="color: green;">User belongs to Salon</p>
    {% else %}
        <p style="color: grey;">User doesn't belong to Salon</p>
    {% endif %}


    {% if request.user|has_group:"Manager" %}
        <p style="color: green;">User belongs to Manager</p>
    {% else %}
        <p style="color: grey;">User doesn't belong to Manager</p>
    {% endif %}

    <hr>

    <form action="{% url 'user:profile' %}" novalidate method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Edit</button>
    </form>

    {# if request.user|has_group:"Salon" or request.user.is_superuser #}
    {% if request.user|has_group:"Salon" %}
        <hr>

        <p>
            <a href="{% url 'user:salon-add-client' %}">Добавить Клиента</a>
        </p>
        <p>
            <a href="{% url 'user:salon-add-action' %}">Добавить Акцию</a>
        </p>

        <hr>

        <p>
            <a href="{% url 'user:salon-records-journal' %}">Журнал записи</a>
        </p>
        <p>
            <a href="">Клиенты</a>
        </p>
        <p>
            <a href="">Сотрудники</a>
        </p>
        <p>
            <a href="">Акции и бонусы</a>
        </p>

        <hr>

        <form action="{% url 'user:profile' %}" novalidate method="post">{% csrf_token %}
            {{ form_edit_salon.as_p }}
            <button type="submit">Edit Salon</button>
        </form>
    {% endif %}
{% endblock %}